@import "../../variables.scss";
.sortby {
    position: relative;
    max-width: 310px;
    &-info {
        display: flex;
        align-items: center;
    }
    &-label {
        margin-right: 7px;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        img {
            transform: rotate(180deg);
            margin-right: 5px;
            &.rotated {
                transform: rotate(360deg);
            }
        }
    }
    &-value {
        color: $myOrange;
        cursor: pointer;
        width: 100px;
    }
    &-panel {
        position: absolute;
        background-color: #fff;
        position: absolute;
        width: 142px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        right: 0;
        @media (max-width: 1200px) {
            right: 90px;
        }
    }
    &-list {
        padding: 15px;
        &_item {
            cursor: pointer;
            padding: 10px 0;
            &.active {
                color: $myOrange;
                font-weight: bold;
            }
        }
    }
}
